<% if session[:form_error] %>
  <% session[:form_error].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% session[:form_error] = nil; end %>

<% if session[:tag_limit] %>
  <p><%= session[:tag_limit] %></p>
<% session[:tag_limit] = nil; end %>

<form method="post" action="/questions">
  <input type="text" placeholder="Title" name="question[title]">
  <input type="textbox" placeholder="Enter your question" name="question[question_body]">
  <input type="textbox" placeholder="Enter your tags seperated by spaces" name="tags">
  <input type="submit" value="Submit Question">
</form>
