<% if session[:form_error] %>
  <% session[:form_error].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% session[:form_error] = nil; end %>

<% if session[:tag_limit] %>
  <p><%= session[:tag_limit] %></p>
<% session[:tag_limit] = nil; end %>

<div class="ask_form">
  <h1>Create Post</h1>
  <form method="post" action="/questions">
    <p>Title</p>
    <input type="text" name="question[title]">
    <p>Body</p>
    <input type="textbox" name="question[question_body]">
    <br>
    <p>Tags</p>
    <input type="textbox" name="tags">
    <br>
    <input type="submit" value="Submit Question">
  </form>
</div>
