nav {
  background-color: #242729;
  font-size: 1.2em;
  text-align: right;
  padding-right: 25px;
  padding-left:25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

#header_button {
  text-decoration: none;
  color: white;
}

nav li {
  display: inline-block;
  padding: 10px;
}


nav li a {
  text-decoration: none;
  color: white;
}

.box {
  border-bottom: 1px solid #848d95;
  display: inline-block;
  width: 1150px;
  margin: 1em;

}

.container {
  border: 3px;
  width: 1200px;
  margin:auto;
}

.box li {
  list-style-type: none;
  display: inline-block;
}

.author {
  border: 1px;
}

.answer {
  border: 1px;
  color: #848d95;
}

.view {
  border: 1px;
  color: #848d95;
}

.question_title a {
  /*border: 1px solid;*/
  color: #07C;
  text-decoration: none;
  font-size: 1.5em;

}


.page_title {
  display: inline-block;
  margin-left: 325px;
}

#subheader {
  border-bottom: 1px;
  background-color: white;
  color: #848d95;
}

.tabs {
  color: #848d95;
}

#standard {
  margin-bottom: 100px;
}

.count {
  color: #848d95;
  text-align: center;
}

#title {
  color: #242729;
}

.question_title {
  display: inline-block;
  border: 1px ;
  width:700px;
  text-align: center;
}


.test{
  display: inline-block;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px ;
  width:200px;
}


/*.upvote {
  width:0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  background-color: white;
  border-bottom: 10px solid black;
  border-top:transparent;
  padding-top:0;
}*/

.downvote {
  width:0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  background-color: white;
  border-bottom: transparent;
  border-top:10px solid black;
}

.username {
  display: inline-block;
  border: 1px;
  float: right;
  margin-top: 23px;
  margin-right: 25px;
}

#login_form {
  border: 1px solid #848d95;
  width: 270px;
  padding:15px;
  margin: auto;
  border-radius:5px;
  background:white;
}

#register_form {
  border: 1px solid #848d95;
  width: 270px;
  padding:15px;
  margin: auto;
  border-radius:5px;
  background:white;
}


.vote_button_form {
  display: inline-block;
  border: 1px ;
  width: 35px;
}

.vote_image {
  border: 1px ;
  max-width: 35px;
  min-width: 35px;
  margin: auto;
}

.vote_count {
  max-width: 10px;
  margin: auto;
  font-size: 1.2em;
  color: #848d95;
}

.vote_count p {
  margin-top: 0px;
  margin-bottom: 0px;
}
















