nav {
  background-color: #242729;
  font-size: 1.2em;
  text-align: right;
  padding-right: 25px;
  padding-left:25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
nav input {
  color: #222222;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

#header_button {
  text-decoration: none;
  color: white;
}

nav li {
  display: inline-block;
  padding: 10px;
}


nav li a {
  text-decoration: none;
  color: white;
}

.box {
  border-bottom: 1px solid #848d95;
  display: inline-block;
  width: 1150px;
  margin: 1em;

}

.container {
  border: 3px;
  width: 1200px;
  margin:auto;
}

.box li {
  list-style-type: none;
  display: inline-block;
}

.author {
  border: 1px;
}

.answer {
  border: 1px;
  color: #848d95;
}

.view {
  border: 1px;
  color: #848d95;
}

.question_title a {
  /*border: 1px solid;*/
  color: #07C;
  text-decoration: none;
  font-size: 1.5em;

}


.page_title {
  display: inline-block;
  margin-left: 325px;
}

#subheader {
  border-bottom: 1px solid;
  padding-left: 0px;
  padding-right:0px;
  background-color: white;
  color: #848d95;
  margin-left:15px;
  width: 1150px;
}

.tabs {
  color: #848d95;
}

#standard {
  margin-bottom: 100px;
}

.count {
  color: #848d95;
  text-align: center;
}

.title {
  color: #242729;
}



.test{
  display: inline-block;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px ;
  width:200px;
}


.upvote {
  width:0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  background-color: white;
  border-bottom: 10px solid black;
  border-top:transparent;
  padding-top:0;
}

.downvote {
  width:0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  background-color: white;
  border-bottom: transparent;
  border-top:10px solid black;
}

.username {
  display: inline-block;
  border: 1px;
  float: right;
  margin-top: 23px;
  margin-right: 25px;
}

#login_form {
  border: 1px solid #848d95;
  width: 270px;
  padding:15px;
  margin: auto;
  border-radius:5px;
  background:white;
}

.register_form {
  border: 1px solid #848d95;
  width: 270px;
  padding:15px;
  margin: auto;
  border-radius:5px;
  background:white;
}


.vote_button_form {
  float:left;
  border: 1px ;
  width: 35px;
}

.vote_image {
  border: 1px ;
  max-width: 35px;
  min-width: 35px;
  margin: auto;
}

.vote_count {
  max-width: 10px;
  margin: auto;
  font-size: 1.2em;
  color: #848d95;
}

.vote_count p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.the_question_box{
/*  border:1px solid black;
*/  margin-bottom:40px;

}

.the_answers{
  border-top:1px solid #848d95;

}

#question_head {
  color:#242729;
  width: 800px;
  margin-left:230px;
}


.question_content {
  display:inline-block;
  margin-left: 15px;
  border:1px;
  width:900px;
  margin-bottom:30px;
}

.view_content{
  float: right;
  margin-right: 165px;
  /*border:1px solid black;*/
  width:100px;
}

.viewed_word {
   color: #848d95;
}



.the_author {
  float: right;
}

.comment-to-question {
  border-top: 1px solid #848d95;
  width: 900px;
  margin-left: 85px;
  font-size: 0.8em;
  font-family: Helvetica Neue;
}

.comment-to-question p {
  border-bottom: 1px solid #848d95;
  padding-bottom: 3px;
  padding-right:10px;
  padding-left:10px;
}

.add_comment_link a {
  /*border: 1px solid;*/
  text-decoration: none;
  color: #848d95;
  margin-left: 85px;
}

.add_comment_link {
  margin-bottom:10px;
}


.answer_box {
  margin-top: 50px;
  margin-bottom: 100px;
}

#answer_box_button {
  background-color: #0095FF;
  color: white;
}

.ask_form {
  border: 1px solid #848d95;
  width: 270px;
  padding:15px;
  margin: auto;
  border-radius:5px;
  background:white;

}

#home_tabs_sort a {
  color: #848d95;

}

.tag_wrapper {
  border: 1px;
  background-color: #e1ecf4;
  color: #39739d;
  padding: 5px;
}


.tag_container {
  border:1px;
  max-width: 700px;
  margin:auto;
  padding-left: 100px;
}

.question_title {
  display: inline-block;
  border: 1px ;
  max-width:700px;
  text-align: center;
  padding-left:50px;
}







































